/*
`````````````````````````````````` noMail.com.ua - Каталог шрифтов ````````````````````````````````````````
```````````````````````````````````````````````````````````````````````````````````````````````````````````
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶¶¶¶¶```````````````````````¶¶¶¶¶¶```¶¶¶¶¶¶```
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶`````¶¶¶¶¶¶¶¶¶¶```````````````````````¶¶¶¶¶¶```¶¶¶¶¶¶```
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶````````````````````````````````¶¶¶¶¶¶```
```¶¶¶¶¶`¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶`¶¶¶¶¶``¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶`¶¶¶¶¶``¶¶¶¶`¶¶¶¶¶¶```¶¶¶¶¶¶¶``¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶``¶¶¶¶`¶¶¶¶¶`¶¶¶¶¶¶`````````````¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶``¶¶¶¶¶¶``````¶¶¶¶¶¶```¶¶¶¶¶```¶¶¶¶¶¶¶¶``¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶``````¶¶¶¶¶¶```¶¶¶¶¶```¶¶¶¶¶¶¶¶``¶¶¶¶¶¶``¶¶¶¶¶¶¶````¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶``¶¶¶¶¶¶````¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶`````¶¶¶¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```````````````````````````````````````````````````````````````````````````````````````````````````````````
`````````````````````````````````` noMail.com.ua - Каталог шрифтов ````````````````````````````````````````
*/



@font-face {
font-family: 'fontac804f90d62a913b7a2a2d7ef86a7e98';
    
    src:    url('https://nomail.com.ua/files/eot/ac804f90d62a913b7a2a2d7ef86a7e98.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/ac804f90d62a913b7a2a2d7ef86a7e98.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/ac804f90d62a913b7a2a2d7ef86a7e98.woff2') format('woff2');
}

@font-face { font-family: 'AtlasGrotesk-Bold';  src: local('AtlasGrotesk-Bold'), url('https://nomail.com.ua/files/woff/ac804f90d62a913b7a2a2d7ef86a7e98.woff') format('woff'); }




/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/


#atlasgroteskbold { font-family:'AtlasGrotesk-Bold'; }
.fontac804f90d62a913b7a2a2d7ef86a7e98 { font-family: 'fontac804f90d62a913b7a2a2d7ef86a7e98'; }



    























    
    





