/*
`````````````````````````````````` noMail.com.ua - Каталог шрифтов ````````````````````````````````````````
```````````````````````````````````````````````````````````````````````````````````````````````````````````
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶¶¶¶¶```````````````````````¶¶¶¶¶¶```¶¶¶¶¶¶```
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶`````¶¶¶¶¶¶¶¶¶¶```````````````````````¶¶¶¶¶¶```¶¶¶¶¶¶```
``````````````````````````````````````````¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶````````````````````````````````¶¶¶¶¶¶```
```¶¶¶¶¶`¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶`¶¶¶¶¶``¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶`¶¶¶¶¶``¶¶¶¶`¶¶¶¶¶¶```¶¶¶¶¶¶¶``¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶``¶¶¶¶`¶¶¶¶¶`¶¶¶¶¶¶`````````````¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶``¶¶¶¶¶¶``````¶¶¶¶¶¶```¶¶¶¶¶```¶¶¶¶¶¶¶¶``¶¶¶¶¶¶````¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶``````¶¶¶¶¶¶```¶¶¶¶¶```¶¶¶¶¶¶¶¶``¶¶¶¶¶¶``¶¶¶¶¶¶¶````¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶``¶¶¶¶¶¶````¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```¶¶¶¶¶`````¶¶¶¶¶¶`````¶¶¶¶¶¶¶¶¶¶¶¶``````¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶````¶¶¶¶¶¶```¶¶¶¶¶¶```
```````````````````````````````````````````````````````````````````````````````````````````````````````````
`````````````````````````````````` noMail.com.ua - Каталог шрифтов ````````````````````````````````````````
*/



@font-face {
font-family: 'font7eadb2ba74dfe54883308e4d20cdf1e1';
    
    src:    url('https://nomail.com.ua/files/eot/7eadb2ba74dfe54883308e4d20cdf1e1.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/7eadb2ba74dfe54883308e4d20cdf1e1.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/7eadb2ba74dfe54883308e4d20cdf1e1.woff2') format('woff2');
}

@font-face { font-family: 'AtlasGrotesk-Regular';  src: local('AtlasGrotesk-Regular'), url('https://nomail.com.ua/files/woff/7eadb2ba74dfe54883308e4d20cdf1e1.woff') format('woff'); }




/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/


#atlasgroteskregular { font-family:'AtlasGrotesk-Regular'; }
.font7eadb2ba74dfe54883308e4d20cdf1e1 { font-family: 'font7eadb2ba74dfe54883308e4d20cdf1e1'; }



    























    
    





