{{- /*  theme-toggle is enabled  */}}
{{- if (not .Site.Params.disableThemeToggle) }}
  {{- /*  theme is light  */}}
  {{- if (eq .Site.Params.defaultTheme "light") }}
  <script>
      if (localStorage.getItem("pref-theme") === "dark") {
          document.body.classList.add('dark');
      }

  </script>
  {{- /*  theme is dark  */}}
  {{- else if (eq .Site.Params.defaultTheme "dark") }}
  <script>
      if (localStorage.getItem("pref-theme") === "light") {
          document.body.classList.remove('dark');
      }
  </script>
{{- else }}
{{- /*  theme is auto  */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }
</script>
{{- end }}
{{- /*  theme-toggle is disabled and theme is auto  */}}
{{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}
<noscript>
    <style type="text/css">
        .theme-toggle,
        .top-link {
            display: none;
        }

    </style>
</noscript>
<header class="header">
    <nav class="nav">
        <div class="logo">
            <span class="logo-switches">
            </span>
        </div>
        {{- $currentPage := . }}
        <ul class="menu" id="menu" onscroll="menu_on_scroll()">
            {{- range .Site.Menus.main }}
              {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
              {{- $page_url:= $currentPage.Permalink  | absLangURL }}
              {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
              <li>
                  <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                  {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                      <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                          {{- .Name -}}
                      </span>
                  </a>
              </li>
            {{- end -}}

            {{- if (not .Site.Params.disableThemeToggle) }}
            <li class="theme-toggle" title="(Alt + T)">
              <a id="theme-toggle" accesskey="t">
              <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-toggle-left">
                <rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect>
                <circle cx="8" cy="12" r="3"></circle>
              </svg>
              <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-toggle-right">
                <rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect>
                <circle cx="16" cy="12" r="3"></circle>
              </svg>
              </a>
            </li>
            {{- end}}
        </ul>
    </nav>
</header>
